<html>

<head>
    <title>Finance Tracker</title>
    <link rel="stylesheet" href="css\styles.css">
    <%- include("header") -%>
        <div>
            <link rel="stylesheet" href="css\styles.css">
        </div>
        <div class="box" id="heading">
            <h1 class="orangeColorText">
                <%= listTitle %>
            </h1>
        </div>

</head>

<body>
    <!-- box  -->

    <div id="coin-box" class="orangeColorText">
        <!-- Your Coins:  -->
        <%= _coins %>
            <!-- <img src="images\homePage\coin.png" alt="coin" class="infoIcon" style="height:24px;width:24px;"> -->
            <!-- <a href="https://www.freeiconspng.com/img/3820">Drawing Vector Coin</a> -->
            <div>
                <form action="/toStore" method="post">
                    <button class="button" class="rmStyles">
                        <img src="images/homePage/shoppingBag.png"
                            style="height: 3rem;width: 3rem; border: none;background-color: transparent;" />
                    </button>
                </form>
            </div>

    </div>

    <div class="shadow grid-container">
        <div class="first-row gridItem1">
            <!-- net disposable income -->
            <div class="netDisposableIncome div-left">
                <div class="netDisposableIncomeHeading">
                    <h2>
                        <img src="images\homePage\incm.png" alt="coin" class="infoIcon"
                            style="height:2.75rem;width:2.75rem;">
                        Net Disposable Income
                        <!-- <img src="images\editButton.png" alt="info" class="infoIcon" style="height:20px;width:20px;"> -->
                        <img src="images\homePage\editButton.png" alt="info" class="infoIcon"
                            style="height:1.5rem;width:1.5rem;">
                    </h2>
                </div> <!--net disposable income heading ends -->
                <div class="netDisposableIncomeValue headingMoney">
                    <!-- // i want to take the user input for the net disposable income and store it in our mongoose database   -->
                    <!-- <form> <input type="number" /></form> -->

                    <p style="text-align: center;">
                        <%= _income %>

                    </p>
                </div> <!--net disposable income value ends -->
            </div> <!--net disposable income ends -->

            <!--  -->

            <!-- total income -->
            <div class="totalExpenditure div-right">

                <div class="totalExpenditureHeading">
                    <h2>
                        <img src="\images\homePage\expns.png" alt="coin" class="infoIcon"
                            style="height:2.5rem;width:2.5rem;">
                        Total Expenditure
                    </h2>
                </div> <!--totalExpenditureHeading ends -->

                <div class="totalExpenditureValue headingMoney">
                    <p style="text-align: center;">
                        <%= _expenditure%>
                    </p>
                </div> <!--totalExpenditureValue ends -->

            </div> <!--totalExpenditure ends -->
        </div>

        <!-- progress bar starts  -->

        <div class="second-row gridItem2">
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------ -->
            <h2>
                <%= _dashOffset %>
            </h2>

            <div class="skill">

                <div class="outer">
                    <div class="inner">

                        <div id="number" style="text-align:center">
                            Remaining To Spent
                        </div> <!-- number ends -->

                    </div><!-- inner ends -->
                </div><!-- outer ends -->
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px"
                    class="progress-circle" data-dash-offset="<%= _dashOffset %>">
                    <defs>
                        yellow to orange
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#F32013" />
                            <stop offset="100%" stop-color="#F0D500" />
                        </linearGradient>
                    </defs>
                    <circle cx="80" cy="80" r="70" stroke-linecap="round" class="progress-circle"
                        data-dash-offset="<%= _dashOffset  %>" />
                </svg>

                <div id="remaining-amount" data-dash-offset="<%= _dashOffset %>"></div>

            </div> <!-- skill ends  -->
        </div> <!-- progress bar ends-->

        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <!-------------------------------------------------------------- horizontal rule------------------------------------------------------------ -->

        <div class="third-row gridItem3">
            <div class="grid-container2">
                <div class="itemB1">

                    <!-- <div class="itemB1" onclick="var budgetAmount = getBudgetAmount(); displayBudgetAmount(budgetAmount);"> -->
                    <div class="totalBudget textSummary">


                        <form>
                            <img src="images\homePage\budget.png" alt="info" class="infoIcon"
                                style="height:2rem;width:2rem;">
                            Total Budget
                            <button class="rmStyles" style="border: none;background-color: transparent;padding: 0;">
                                <img src="images\homePage\editButton.png" alt="info" class="infoIcon"
                                    style="height:1.75rem;width:1.75rem;">
                                    <input type="number" name="budget" id="budget" placeholder="Enter Budget" />
                            </button>
                        </form>

                    </div> <!-- total budget ends -->
                    <div class="budgetValue blueText">
                        Rs.
                        <span id="budgetAmountDisplay">
                            <%= _budget %>
                        </span>

                    </div><!--  budget  value ends -->
                </div>

                <!-- itemB1 ends -->


                <!---------------------------------------------------------------------------------------------------------------->
                <div class="itemB2" onclick="var budgetAmount = getBudgetAmount(); displayBudgetAmount(budgetAmount);">

                    <div class="ProvisionalBalance textSummary">
                        ProvisionalBalance
                    </div> <!-- ProvisionalBalance  ends -->
                    <div class="ProvisionalBalanceValue blueText">
                        Rs. <%= _provisionalBalance %>
                    </div><!--  ProvisionalBalanceValue ends -->

                </div>
                <!-- itemB2 ends -->




                <div class="itemB3">
                    <div class="RemainingToSpent textSummary">
                        <img src="images\homePage\rts.png" alt="info" class="infoIcon" style="height:2rem;width:2rem;">


                        RemainingToSpent
                    </div> <!-- RemainingToSpent  ends -->
                    <div class="RemainToSpentValue blueText">
                        Rs. <%= _remainingToSpend %>
                    </div><!--  RemainToSpentValue ends -->
                </div> <!-- itemB3 ends -->


            </div><!-- grid-container2 ends -->

        </div><!-- third-row ends -->


    </div><!-- shadow ends -->


    <!-------------------------------------------------------------------------------------------->
    <!-- <div class="firstBox">
    </div> <!-first box ends->

    </div> -->

    <div class="shadow">
        <!-- ahiya avse database  -->
        <div class="ExpenseListHeading">
            <!-- contenteditable="true" -->
            <h2 class="orangeColorText" style="margin-top:0.15rem;font-size: 2rem;border-radius: 15px;"> Expense list
            </h2>
        </div>

        <div class="expenseContainer">

            <!-- display the pehla na expenses -->
            <!-- this route is for deleting the items  -->

            <!-- --------------------------------------------------------- -->
            <div class="expenseContainerItem1">

                <ul>
                    <li>
                        <div class="row">

                            <form action="/" method="post">

                                <div class="column">
                                    <input type="text" name="Description" placeholder="Description " required
                                        autocomplete="off" class="leftOfExpense">
                                    <!-- <input type="text" name="Category " placeholder="Description " required autocomplete="off"> -->
                                </div>

                                <div class="column" style="margin-top:2rem">

                                    <input type="date" name="DateOfTransaction" value="<%= listTitle %>"
                                        autocomplete="off" class="rightOfExpense"
                                        style="margin-left:4.5rem;padding-left:0.625rem;margin-top:2.5rem;font-size:150%;">
                                </div>

                                <div class="column">
                                    <select name="Category" id="Category"
                                        style="margin-left:4.5rem;padding-left:0.625rem;margin-top:2rem;font-size:150%;">
                                        <option value="Food">Food</option>
                                        <option value="Travel">Travel</option>
                                        <option value="Groceries">Groceries</option>
                                    </select>
                                </div>
                                <div class="column">
                                    <input type="number" name="Amount" placeholder="Amount" autocomplete="off" required
                                        class="rightOfExpense" id="DOT"
                                        style="margin-left:1.8rem;padding-left:0.625rem;margin-top:2rem;font-size:180%;padding-right: 0rem;width:90%;padding-bottom: 1px;">
                                </div>
                                <div class="column">
                                    <button type="submit" name="list"
                                        style="margin-left:4.5rem;padding-left:0.625rem;margin-top:2rem;font-size:150%;margin-right: 1rem;"
                                        id="addItemBtn">+</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- expense container item 1 -->
            <!----------------------------------------------------------------------------------------------------------------------------------- -->
            <div class="expenseContainerItem2">
                <!-- graph representing the total expenses -->
                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio, earum eaque odio assumenda libero officia laboriosam voluptatibus ducimus. Quod nam temporibus unde quo harum impedit, excepturi nobis consectetur laborum. Suscipit totam error temporibus est. Soluta necessitatibus porro, eaque sunt, modi autem cum quas omnis dolore maxime sit libero non ratione nesciunt ea excepturi veritatis inventore, accusamus sapiente sequi velit nam nulla aliquid a! Consequuntur nostrum rerum totam repellat magnam corporis iure, dolores reiciendis sunt ratione commodi. Cum quisquam sequi amet quos corporis quaerat, exercitationem nesciunt perspiciatis saepe ducimus dicta ea accusantium dolorem eos deserunt impedit harum facilis officia numquam eum incidunt in at. Nobis consectetur repellat dolore delectus at debitis qui doloribus dolorem iste explicabo hic, facere architecto culpa eius aut soluta provident illo quaerat maxime cupiditate error illum pariatur modi ipsum. Voluptatibus molestias esse sequi unde beatae animi quisquam at fuga fugiat, libero sunt hic provident cumque vero! Accusamus ex sequi architecto quae quisquam. Non expedita at, suscipit voluptatem totam tenetur incidunt nisi corrupti possimus repellendus magni distinctio! Deleniti similique odio quia porro corrupti earum perferendis animi atque ad molestias accusantium repudiandae facilis autem veniam voluptatibus eaque maxime expedita reiciendis fugit minima aperiam, natus aut soluta. Sit, error magni quia quam assumenda hic earum labore nihil, explicabo porro itaque, magnam quos reprehenderit perspiciatis vero ea fugiat quisquam. Iure voluptate voluptates quis eum aliquam exercitationem illo, inventore, doloremque id tempore aperiam, facilis consequuntur nobis delectus libero vero ut esse! Cum saepe praesentium ratione deserunt iusto esse voluptates quas accusantium perferendis porro aspernatur quaerat nobis, dignissimos vero dolorem, quam repellendus atque beatae ea voluptatibus ipsam! Quia cupiditate amet doloribus blanditiis, incidunt quisquam tempore debitis suscipit, nesciunt eveniet itaque, modi fuga magnam porro possimus. Corporis amet quaerat est, earum quasi, excepturi debitis consectetur pariatur voluptatibus accusantium qui maiores itaque saepe dolor doloremque veritatis libero voluptate possimus distinctio, aperiam voluptates velit. Aperiam aspernatur doloribus cupiditate dolor, molestiae tenetur quibusdam libero est neque omnis deserunt similique delectus iste incidunt nihil dicta dignissimos laudantium. Nobis asperiores iste ad in quia nesciunt placeat eum iure laborum modi quasi autem earum consequatur exercitationem quae dolores, iusto, itaque quos commodi facilis sed ex, quis quam. Aperiam est beatae illum nostrum. Accusamus, accusantium? Sed nihil temporibus quas adipisci voluptas nulla? Veniam sed, accusamus perspiciatis illo quaerat dolore omnis, alias odit sequi unde delectus dicta voluptatibus ab est. Ullam assumenda, nisi delectus perferendis officiis veniam quod sit vel vitae! -->
            </div>
        </div>











    </div><!-- shadow ends -->

    <!-- to show the items  -->
    <div class="shadow">
        <div class="cont ">

            <div class="leftMost  box">
                <% for(let i=0;i<newListItems.length;i++){ %>

                    <!--      FORM AVSE   -->
                    <form action="/delete" method="post">
                        <!-- <input type="checkbox" name="checkbox" value="<%= newListItems[i]._id%>"
                onChange="this.form.submit()"></input> -->
                        <div class="transactionContainer item">
                            <div class="transactionItems transactionContainerItem1">
                                <!--         LEFT MOST SIDEE -->
                                <!--         description -->
                                <input type="checkbox" name="checkbox" value="<%= newListItems[i]._id%>"
                                    onChange="this.form.submit()"></input>
                                <%= newListItems[i].description %>
                            </div>

                            <div class="transactionItems transactionContainerItem2">
                                <!--         RIGHT MOST SIDE -->
                                <ul class="toShowAmtDate">
                                    <li>
                                        <%= newListItems[i].amount %>
                                    </li>
                                    <li class="date">

                                        <%= newListItems[i].createdAt.getDate() %>
                                            /<%= newListItems[i].createdAt.getMonth() +1 %>/
                                                <%= new Date().getFullYear()%>

                                    </li>
                                </ul>

                            </div> <!-- ="transactionItems transactionContainerItem2 endss-->
                        </div>
                        <!-- transactionContainer item   -->

                        <input type="hidden" name="listName" value="<%= listTitle %>">
                    </form>

                    <% } %>
            </div>
            <!-- leftMost div ends  -->

            <div class="rightMost">
                <img src="images/Donut.png" style="width:40rem;height:25rem;margin-right:0rem;padding-right: 0rem;" />

            </div>
            <!-- rightMost box ends  -->
        </div>
        <!-- cont  ends  -->
    </div>
    </div>
    </div>

    <!-- gungun feature  1 -->




    <div class="shadow container3 ">
        <div class="a">
            <!--     <div class="goalsHeading"> -->
            <h2 style="padding:2%;text-align:center">
                Your Dream Goals Plan!!
            </h2>

            <!--     </div> -->

            <% for(let i=0;i<goalList.length;i++){ %>
                <div class="goalItem">
                    <h2 style="text-align: center;padding: 2%;">
                        <%= goalList[i].name %>
                    </h2>

                    <div class="output-box">

                        <div class="left-section">
                            <!-- <h3 id="goal_meet_per">0.71%</h3> -->
                            <h3 id="goal_meet_per">
                                <%= ((_income-_budget+_remainingToSpend)/goalList[i].value) %>%
                            </h3>
                            <p>of your goal has been met</p>
                            <p id="you_need_to_invest">You need to invest <span class="calculatedText">444.77 / month
                                </span></p>
                        </div>
                        <!-- leftsection ends  -->
                        <div class="right-section">
                            <p>
                                <%= goalList[i].name %> Savings Goal : <span class="_calcy calculatedText"
                                        id="retirement_goal_span">
                                        <%= goalList[i].value %>
                                    </span>
                            </p>
                            <!-- <p>Your Projected Savings : <span class="_calcy calculatedText" id="projected_saving">38</span>
                        </p> -->
                            <p>You need to save: Rs.<span class="_calcy calculatedText" id="you_need_to_save">
                                    <%= (goalList[i].value - (_income-_budget+_remainingToSpend)) %>
                                </span>
                            </p>
                        </div>
                        <!-- right section ends  -->
                    </div>
                    <!-- output box ends -->

                </div>

                <% } %>
                    <!-- goalItem ends -->

                    <!-- a class ends -->

        </div>
        <!-- </div> -->
        <div class="b">
            <div class="bHeading">
                <h2 class="orangeColorText" id="goalClass" style="padding:2%">
                    Set a goal
                </h2>
            </div>
            <!-- bHeading ends -->
            <div class="firstClass">
                <!-- add Goal -->
                <form action="/addGoal" method="post">
                    <div class="container3B">
                        <!-- container3bItem1 ends -->
                        <div class="container3bItem2">
                            <input type="text" id="nameOfGoal" name="GoalName" required minlength="4" maxlength="20"
                                placeholder="GoalName" />
                        </div>
                        <!-- container3bItem2 ends-->
                        <div class="container3bItem3">
                            <input type="number" id="setGoalValue" placeholder="GoalValue" name="GoalValue" />
                        </div>
                        <div class="container3bItem1">
                            <input type="number" id="goalCategory" placeholder="Months" name="GoalMonths" />
                            <!-- <select name="GoalCategory" id="goalCategory" class="goalTypeSet">
                                <option value="Property">Property </option>
                                <option value="Gold">Gold </option>
                                <option value="Vehicle">Vehicle</option>
                                <option value="TV">TV</option>
                            </select> -->
                        </div>
                        <!--  container3bItem3 ends -->
                        <!--         <button type="submit" name="goal" id="addGoalBtn">+</button> -->

                    </div>
                    <!-- container3b ends -->
                    <div class="button6e">
                        <button type="submit" name="goal" id="addGoalBtn">+</button>
                    </div>
                </form>
                <!-- l;kajdflkajdf -->
            </div>
            <div class="secondClass">

            </div>

        </div>
        <!-- b ends  -->

    </div>

    <!-- gungun feature 1 ends  -->


    <script>

        function getBudgetAmount() {
            var budgetAmount = 0;
            budgetAmount = prompt("Please Enter your Budget Amount");
            // budgetAmount = document.getElementById("budgetAmount").value;
            return budgetAmount;
        }
        function displayBudgetAmount(budgetAmount) {
            var displayElement = document.getElementById("budgetAmountDisplay");
            displayElement.textContent = budgetAmount;
        }


        // <script> -->
        // <!-- script-->
        /*progress circle */
        /**/
        // function myFunction() {
        //     console.log("myfunction is calleeeddd");
        //     const progressCircle = document.getElementsByClassName(".progress-circle");
        //     const circleLength = progressCircle.getTotalLength;
        //     console.log(progressCircle);
        //     console.log(circleLength);
        //     // calculate the dash offset based on remaining to spend and total income
        //     const dashOffset = 0;
        //     console.log(dashOffset);
        //     progressCircle.style.setProperty('--dash-offset', dashOffset);

        // }

        // const myElement = document.querySelector('.progress-circle');

        // myElement.addEventListener('click', function () {
        //     myFunction();
        // });

        /**/

        // let number = (dashOffset / 472) * 100;
        // let counter = 0;
        // setInterval(() => {
        //     if (counter === number) {
        //         clearInterval();
        //     }
        //     else {
        //         counter += 1;
        //         number.innerHTML = counter + "%";
        //     }
        // }, 30);

        /* */

        // function hrefFunction(){
        //     windows.location.href = "/store";
        // }
    </script>



    <footer> <%- include("footer") -%></footer>
</body>

</html>